{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Djangoスニペット</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'snippets/css/style.css' %}">

    {% block extraheader %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
    <div class="container justify-content-between">
        <a href="/" class="navbar-brand">Djangoスニペット</a>
        <ul class="navbar-nav mr-md-2">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">会員登録</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
</main>
   <!-- Prism.jsのJavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
   <script>
       function copyCode() {
           // コードブロックの要素を取得
           var codeBlock = document.getElementById('codeBlock').innerText;
           var copyButton = document.getElementById('copyButton');
           
           // 一時的なtextareaを作成
           var tempTextarea = document.createElement('textarea');
           tempTextarea.value = codeBlock;
           document.body.appendChild(tempTextarea);
           
           // テキストを選択し、クリップボードにコピー
           tempTextarea.select();
           document.execCommand('copy');
           
           // 一時的なtextareaを削除
           document.body.removeChild(tempTextarea);
           
           // ボタンのテキストを変更
           copyButton.textContent = 'コピーされました！';
           
           // 2秒後に元のテキストに戻す
           setTimeout(function() {
               copyButton.textContent = 'コピー';
           }, 2000);
       }
   </script>
</body>
</html>