{% extends 'base.html' %}

{% block main %}
<h1>{{ snippet.title }}</h1>

<div class="snippet-date">
    投稿日： {{ snippet.created_at|date:'DATETIME_FORMAT' }}
    {% if user.is_authenticated and snippet.created_by_id == user.id %} 　　　
    投稿者： {{ snippet.created_by.username }}
    <a href="{% url 'snippet_edit' snippet.id %}">編集</a>
    {% endif %}
</div><br>

<h2>数式</h2>
<div class="fomula">
    <p>$${{ snippet.code }}$$</p>
</div><br>
<h2>解説</h2>
<p>{{ snippet.description |safe }}</p>
{% endblock %}