{% extends 'base.html' %}

{% block main %}
<h2>{{ snippet.title }}</h2>

<div class="snippet-date">
    投稿日： {{ snippet.created_at|date:'DATETIME_FORMAT' }}
    {% if user.is_authenticated and snippet.created_by_id == user.id %} 　　　
    投稿者： {{ snippet.created_by.username }}
    <a href="{% url 'snippet_edit' snippet.id %}">編集</a>
    {% endif %}
</div>

<div class="source-code">
    <pre id = "codeBlock"><code>{{ snippet.code }}</code></pre>
    <button id="copyButton" onclick="copyCode()">コピー</button>
</div>

<p>{{ snippet.description |safe }}</p>
{% endblock %}